.container {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1em;

  &.primary {
    background-color: var(--surface-highlight-background-color);
    color: var(--surface-highlight-text-primary-color);
  }

  &.secondary {
    background-color: var(--surface-background-color);
    color: var(--surface-text-secondary-color);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0.5rem var(--surface-shadow-color);
  }
}